/* Description: This is a CSS file that is used to style the auth.html
   page on the Achat website. This provides a sytle and format for the
   user login/signup form. The colors were taken from the color reference 
   identified for the website. */


/* All text in the html file will be the same font */
html{
	font-family: 'Inter', 'sans-serif';
}

body {
	background-color: #f1f8fe;
	margin: 0;
	padding: 0;
}

/* home button on top left */
#logo{
	width: 8vw;
	height: auto;
	padding-left: 2vh;
	cursor: pointer;

}

#formContainer{
	margin: 5% auto;
	background:  #cfe5fc;
	height: auto;
	max-width: 35vw; 
	padding: 3rem 0 3rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	border-radius: 5px;
	box-shadow:0 8px 16px rgba(0, 0, 0, 0.2);
}

/* login/signup text */
#header{
	font-size: calc(2vw + 1rem);
	background: linear-gradient(120deg, #1280f2, #f653df);
	text-align: center;
	font-weight: bold;

	/* Makes it so that the gradient only applies to text*/
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* welcome text */
#welcomeHeader{
	text-align: center;
	font-weight: bold;
	color:  #9ecafa;
	font-size: calc(0.8vw + 0.4rem);
	margin-top: 0.5rem;
}

/* container for the username form */
.loginForm {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
	align-items: center;
}

#usernameHeader {
	font-size: calc(0.7vw + 0.4rem);
    white-space: nowrap;
	padding-bottom: 0.5rem;
	background: linear-gradient(120deg, #1280f2, #f653df);
	text-align: center;
	font-weight: bold;

	/* Makes it so that the gradient only applies to text*/
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
}

#usernamefield {
	text-align: center;
	background-color: #f1f8fe;
    font-size: calc(1vw + 0.5rem);
	color: #02111e;
	border: none;
	max-width: 15vw;
	height: 2.5rem;
	border: 2px solid #1280f2;
	border-radius: 3px;
}

.buttonContainer {
	text-align: center;
	margin-top: 1rem;
}

#loginButton{
    background-color: #1280f2; 
}

#signupButton{
    background-color: #c875f8;
}

.lsButton{
	padding: 0.5em 1.5em;
	border-radius: 10px;
    font-size: calc(0.7vw + 0.4rem);
    white-space: nowrap;
	height: auto;
	width: auto;
	max-width: 100%; 
	color: #02111e;
	border: none;
	box-shadow:0 8px 16px rgba(0, 0, 0, 0.2);
}

.lsButton:hover {
	transform: scale(1.1);
	background: linear-gradient(120deg, #1280f2, #f653df);

}

/* creates the or divider line */
.divider {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	margin: 2rem 0;
	color: #87127f;
	font-style:italic;
}
  
.divider::before,
.divider::after {
	content: "";
	flex-grow: 1;
	border-bottom: 2px solid #87127f; 
	margin: 0 10px; 
}
  