.chatTextBox {
    position: fixed;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    width: 90vw;
    border: 2px solid black;
	font-family: 'Rockwell', serif;
	font-size: 28px;
}

.helpButton {
    position: fixed;
    top: 5px;
    left: 15px;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: lightcoral;
    color: black;
    font-family: 'Rockwell', serif;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.headerBox {
	background: #CCCCCC;
	position: fixed;
	width: 100vw;
	height: 12vh;
	top: 0px;
	text-align: center;
	font-family: 'Rockwell', serif;
	font-size: 32px;
	font-weight: bold;
	color: #757575;
}